@{
    ViewBag.Title = "Index";
}
<style >
    #mapDiv
    {
        width:1240px;
        height:860px;
        background-color:rgb(26,41,61);/*17, 30, 46*/
    }
</style>
<script src="~/Scripts/gis/baseMap.js"></script>
<h2>Index</h2>
<div id="mapDiv">

</div>
